<div class="container">
  <app-searchbar (searchTerm$)="searchTerms$.next($event)"></app-searchbar>

  <div class="spinner">
      <mat-spinner *ngIf="isLoading" class="result-spinner"></mat-spinner>
  </div>

  <app-searchresults class="result" *ngIf="!isLoading" [results]="results"></app-searchresults>
</div>
